# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

asyncio-pool
azure-functions
azure-functions-durable
azure-identity
azure-keyvault-secrets
azure-storage-blob
httpx
inflection
msgraph-sdk
mypy